<a href="https://colab.research.google.com/github/syedahmad13/2025-26-4126-Syed-Ahmad-AI-B-DS/blob/main/week1_03_02_2026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#List
numbers = [1, 2, 3, 4, 5]
numbers.append(6)
print(numbers)
numbers.remove(3)
print(numbers)
numbers.insert(2, 7)
print(numbers)
print(len(numbers))

[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5, 6]
[1, 2, 7, 4, 5, 6]
6

In [2]:
#Tuples
colors = ("red", "green", "blue","yellow","white")
print(colors[0])
print(colors[1])
print(colors[3])
print(colors)

red
green
yellow
('red', 'green', 'blue', 'yellow', 'white')

In [3]:
#Dictionaries
student= {
    "Name": "Sara",
    "Rollno" : 70,
    "Course" : "CSE-AI-B"
}
print("Dictionary items:")
for key,value in student.items():
  print(key,":",value)

Dictionary items:
Name : Sara
Rollno : 70
Course : CSE-AI-B

In [4]:
#Sets
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}
print("Union:", set1|set2)
print("Intersection:", set1&set2)
print("Difference:", set1-set2)

Union: {1, 2, 3, 4, 5, 6, 7, 8}
Intersection: {4, 5}
Difference: {1, 2, 3}

In [5]:
#3. Write the code to download, save, and transform the dataset from a given URL.
import pandas as pd

# URL of dataset (example CSV)
url = "https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv"

# Download data
df = pd.read_csv(url)

# Save dataset locally
df.to_csv("iris_dataset.csv", index=False)

print("Dataset downloaded and saved successfully!")

# ---- Transformations ----
# Display first 5 rows
print(df.head())

# Add a new column (example transformation)
df["sepal_area"] = df["sepal_length"] * df["sepal_width"]

# Save transformed data
df.to_csv("iris_transformed.csv", index=False)

print("Dataset transformed and saved!")

Dataset downloaded and saved successfully!
   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
Dataset transformed and saved!

In [6]:
'''4.Write the code to create, save, and read a file from the local drive and
perform text operations such as counting the number of lines, words, and
characters.'''
# Create and write to a file
file_name = "sample_text.txt"

with open(file_name, "w") as file:
    file.write("Hello World\n")
    file.write("This is a Python file handling example\n")
    file.write("Counting lines words and characters")

print("File created and data written!")

# Read file and perform operations
with open(file_name, "r") as file:
    text = file.read()

# Count lines
lines = text.split("\n")
line_count = len(lines)

# Count words
word_count = len(text.split())

# Count characters
char_count = len(text)

print("Number of lines:", line_count)
print("Number of words:", word_count)
print("Number of characters:", char_count)

File created and data written!
Number of lines: 3
Number of words: 14
Number of characters: 86