<a href="https://colab.research.google.com/github/syedahmad13/2025-26-4126-Syed-Ahmad-AI-B-DS/blob/main/Week_4_24.02.2026/Data_Cleaning_Operations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
url = "https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv"
df = pd.read_csv(url)
print("=== Original Dataset Info ===")
print(df.info())
print("\nMissing Values Before Cleaning:")
print(df.isnull().sum())
print("\nFirst 5 rows:\n", df.head())


# 1. Handle Missing Values
df['Age'] = df['Age'].fillna(df['Age'].median())
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

print("\n=== Missing Values After Filling ===")
print(df.isnull().sum())

# 2. Drop Cabin column (too many missing values)
df = df.drop(columns=['Cabin'])
print("\n=== Columns After Dropping 'Cabin' ===")
print(df.columns)

# 3. Remove Duplicate Rows
before_duplicates = df.shape[0]
df = df.drop_duplicates()
after_duplicates = df.shape[0]
print(f"\nRemoved {before_duplicates - after_duplicates} duplicate rows")

# 4. Convert Data Types
df['Survived'] = df['Survived'].astype('category')
df['Pclass'] = df['Pclass'].astype('category')
print("\n=== Data Types After Conversion ===")
print(df.dtypes)

# 5. Rename Columns to lowercase
df.columns = df.columns.str.lower()
print("\n=== Columns After Renaming ===")
print(df.columns)

# 6. Remove Outliers (Age using IQR method)
Q1 = df['age'].quantile(0.25)
Q3 = df['age'].quantile(0.75)
IQR = Q3 - Q1

lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

before_outliers = df.shape[0]
df = df[(df['age'] >= lower_bound) & (df['age'] <= upper_bound)]
after_outliers = df.shape[0]
print(f"\nRemoved {before_outliers - after_outliers} outlier rows based on Age")

# 7. Save Cleaned Dataset
df.to_csv("cleaned_titanic.csv", index=False)
print("\nData Cleaning Completed Successfully!")
print("Cleaned file saved as: cleaned_titanic.csv")

# Optional: View first 5 cleaned rows
print("\n=== First 5 rows of Cleaned Dataset ===")
print(df.head())

=== Original Dataset Info ===
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
None

Missing Values Before Cleaning:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

First 5 rows:
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

=== Missing Values After Filling ===
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

=== Columns After Dropping 'Cabin' ===
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')

Removed 0 duplicate rows

=== Data Types After Conversion ===
PassengerId       int64
Survived       category
Pclass         category
Name             object
Sex              object
Age             float64
SibSp             int64
Parch             int64
Ticket           object
Fare            float64
Embarked         object
dtype: object

=== Columns After Renaming ===
Index(['passengerid', 'survived', 'pclass', 'name', 'sex', 'age', 'sibsp',
       'parch', 'ticket', 'fare', 'embarked'],
      dtype='object')

Removed 66 outlier rows based on Age

Data Cleaning Completed Successfully!
Cleaned file saved as: cleaned_titanic.csv

=== First 5 rows of Cleaned Dataset ===
   passengerid survived pclass  \
0            1        0      3
1            2        1      1
2            3        1      3
3            4        1      1
4            5        0      3

                                                name     sex   age  sibsp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   parch            ticket     fare embarked
0      0         A/5 21171   7.2500        S
1      0          PC 17599  71.2833        C
2      0  STON/O2. 3101282   7.9250        S
3      0            113803  53.1000        S
4      0            373450   8.0500        S