<a href="https://colab.research.google.com/github/syedahmad13/2025-26-4126-Syed-Ahmad-AI-B-DS/blob/main/Week_4_24.02.2026/missing_values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Replacing missing values in dataset
import pandas as pd
# Creating a sample dataset with missing values
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'Age': [25, None, 35, 40, 28],  # Bob has missing age
    'Salary': [50000, 60000, None, 70000, 62000],  # Charlie has missing salary
    'Allowances': [2000, None, 2000, 2000, 2500]  # Bob has missing allowance
}
df = pd.DataFrame(data)
# 1. Checking for missing values in each column
print("Missing Values Count:\n", df.isnull().sum())
# 2. Dropping rows with any missing values
df_cleaned = df.dropna()
print("\nDataFrame after dropping missing values:\n", df_cleaned)
# 3. Filling missing values with specific values
df_filled = df.fillna({'Age': df['Age'].mean(), 'Salary': df['Salary'].mean(), 'Allowances': 2000})
print("\nDataFrame after filling missing values:\n", df_filled)

Missing Values Count:
 Name          0
Age           1
Salary        1
Allowances    1
dtype: int64

DataFrame after dropping missing values:
     Name   Age   Salary  Allowances
0  Alice  25.0  50000.0      2000.0
3  David  40.0  70000.0      2000.0
4    Eve  28.0  62000.0      2500.0

DataFrame after filling missing values:
       Name   Age   Salary  Allowances
0    Alice  25.0  50000.0      2000.0
1      Bob  32.0  60000.0      2000.0
2  Charlie  35.0  60500.0      2000.0
3    David  40.0  70000.0      2000.0
4      Eve  28.0  62000.0      2500.0